// color palette - these colors will be the color swatches of the Colors section

$rich-black: #001011;
$rebecca-purple:  #662c91;
$radical-red: #ff4365;
$magnolia-white: #fffaff;
$turq: #00d9c0;

$color-1: $rebecca-purple;
$color-2: $rich-black;
$color-3: $radical-red;
$color-4: $turq;
$color-5: $magnolia-white;

// additional colors

$success: $turq;
$alert: $radical-red; // red
